*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.thetop{
    padding: 0;
    background-image: url(../images/big-14.jpg);
}
.img-mask{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
}
.top_form{
    margin-top: 10%;
}
.footer_bottom{
    background-color: black;
    color: white;
    text-align: center;
}


/* mid_img */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

.wrapper {
  height:100vh;
  padding: 50px 5% 20px 5%;
  overflow:hidden;
}
h2{
  position:absolute;
  bottom:0px;
  right:0px;
  width:auto;
  margin:0px auto;
  padding-right:4px;
  background: rgba(154, 154, 154, 0.45);
  color:#f2f2f2;
  text-align:right;
  font-family: 'Noto Sans', sans-serif;
}

h3{
  width:160px;
  margin:0px auto 8px 22px;
  padding:0px;
  font-size:16px;
  font-weight:bold;
  border-bottom: 2px solid red;
  font-family:'Noto Sans', sans-serif;
}
.profile {
  position:relative;
  max-width:calc(100% / 3);
  min-width:300px;
  height:500px;
  min-height:400px;
  border-radius:15px;
  background-color:#fcfcfc;
  box-shadow: 2px 5px 8px #4c4c4c;
  overflow:hidden;
  transition:0.6s;
}
.profile:hover {
  box-shadow: 0px 12px 30px #4c4c4c;
  transform: scale(1.011);
}
.tophlf {
  position:relative;
  height:200px;
  overflow:hidden;
}
.profile img {
    max-width:100%;
    max-height:auto;
    transition:2.5s;
    overflow:hidden;
}
.profile img:hover{
  transform: scale(1.051);
}
.starRating {
  display:block;
  width:100%;
  text-align:right;
}

span {
  font-size:20px;
  color:red;
}
.desc {
  display:block;
  float:left;
  margin:0px 15px 4px 10px;
  padding-left:10px;
  border-left:2px solid red;
  font-size:14px;
  color:#191919;
  text-align:left;
  font-family: 'Noto Serif', serif;
}

.footer {
  position:absolute;
  width:100%;
  height:10%;
  bottom:10px;
  right:0px;
}
.but {
  width:50%;
  padding:20px;
  border:none;
  color:white;
}
.bookNow {
  float:left;
  width:50%;
  padding:20px 40px;
  color:white; 
  background-color:green;
  font-size:1em;
}

.viewSite {
  float:right;
  width:50%;
  padding:20px 40px;
  color:white;
  background-color:red;
  font-size:1em;
}

/*bottom*/
html {
      box-sizing: border-box;
      background: #ffc600;
      font-family: 'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }

    body {
      margin: 0;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    .panels {
      min-height: 100vh;
      overflow: hidden;
      display: flex;
    }

    .panel {
      background: #6B0F9C;
      box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
      color: white;
      text-align: center;
      align-items: center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
      font-size: 20px;
      background-size: cover;
      background-position: center;
      flex: 1;
      /*  每個panel所佔比例  */
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .panel1 {
      background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
    }

    .panel2 {
      background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
    }

    .panel3 {
      background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
    }

    .panel4 {
      background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
    }

    .panel5 {
      background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
    }

    /* Flex Items */
    .panel>* {
      margin: 0;
      width: 100%;
      transition: transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .panel>*:first-child {
      transform: translateY(-100%);
    }

    .panel.open-active>*:first-child {
      transform: translateY(0);
    }

    .panel>*:last-child {
      transform: translateY(100%);
    }

    .panel.open-active>*:last-child {
      transform: translateY(0);
    }

    .panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .panel p:nth-child(2) {
      font-size: 4em;
    }

    .panel.open {
      flex: 3;
      /* 點擊放大成3等分 =>手風琴效果 */
      font-size: 40px;
    }

    @media only screen and (max-width: 600px) {
      .panel p {
        font-size: 1em;
      }
    }